@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}

body{
    background-image: url('img/1130461.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container{
    min-height: 100%;
}

.content{
    min-height: 100%;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 40px;
    backdrop-filter: blur(5px);
    min-height: 35rem;
    min-width: 32rem;
    box-shadow: 0px 0px 40px #000000;
}

h1{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 3.3rem;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    height: 50%;
}

input{
    border: none;
    outline: none;
    width: 20rem;
    height: 2.4rem;
    border-radius: 13px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 1rem;
}

button{
    border: none;
    color: #fff;
    border-radius: 15px;
    background-color: rgba(250, 25, 25, 0.87);
    padding: 0.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2.6rem;
}

.fa-xbox{
    color: #107C10;
    transition: 0.2s ease-in-out;
}

.fa-playstation{
    color: #003791;
    transition: 0.2s ease-in-out;
}

.fa-steam{
    color: #171A21;
    transition: 0.2s ease-in-out;
}

.fa-brands:hover{
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width: 768px){
    .form-container{
        min-width: 27rem;
    }
    .form-container h1{
        font-size: 3rem;
    }
}